<section class="mil-p-120-60">
  <div class="mil-deco" style="top: 0; right: 15%"></div>
  <div class="container">
    <h2 class="mil-mb-90 row" style="width: 1000px">
      Бизнес-решения и автоматизация процессов
    </h2>

    <div class="row justify-content-between align-items-center">
      <div class="col-lg-5">
        <ul class="mil-tabs-left-nav-third mil-mb-60">
          <li class="pointer">
            <a
              (click)="showText('text1')"
              [ngClass]="{ 'mil-active': activeText === 'text1' }"
              class="mil-h4 mil-active"
              >Бизнес-решения и автоматизация</a
            >
          </li>
          <li class="pointer">
            <a
              (click)="showText('text2')"
              [ngClass]="{ 'mil-active': activeText === 'text2' }"
              class="mil-h4"
              >Электронный документооборот</a
            >
          </li>
          <li class="pointer">
            <a
              (click)="showText('text3')"
              [ngClass]="{ 'mil-active': activeText === 'text3' }"
              class="mil-h4"
              >Геоинформационные системы</a
            >
          </li>
          <li class="pointer">
            <a
              (click)="showText('text4')"
              [ngClass]="{ 'mil-active': activeText === 'text4' }"
              class="mil-h4"
              >Инструменты для внедрения Agile-практик</a
            >
          </li>
          <li class="pointer">
            <a
              (click)="showText('text5')"
              [ngClass]="{ 'mil-active': activeText === 'text5' }"
              class="mil-h4"
              >Организация виртуальных офисов и удаленных рабочих мест</a
            >
          </li>
          <li class="pointer">
            <a
              (click)="showText('text6')"
              [ngClass]="{ 'mil-active': activeText === 'text6' }"
              class="mil-h4"
              >Системы видеоконференций и мультимедиа</a
            >
          </li>
          <li class="pointer">
            <a
              (click)="showText('text7')"
              [ngClass]="{ 'mil-active': activeText === 'text7' }"
              class="mil-h4"
              >Решения для комплексного управления процессами печати</a
            >
          </li>
        </ul>
      </div>
      <div class="col-lg-6">
        <div
          class="text-container"
          *ngIf="activeText === 'text1'"
          [@fadeInOut]="activeText === 'text1'"
        >
          <h4 class="mil-mb-15">
            Предоставляем комплексные решения, обеспечивающие высокий уровень
            автоматизации бизнес-процессов и повышение их эффективности.
          </h4>
          <h4>
            <strong>
              Наше выгодное отличие заключается в системном подходе, благодаря
              которому, мы решаем задачи в соответствии с лучшими мировыми
              практиками цифровизации.
            </strong>
          </h4>
        </div>
        <div
          class="text-container"
          *ngIf="activeText === 'text2'"
          [@fadeInOut]="activeText === 'text2'"
        >
          <h3 class="mil-mb-5">
            <span class="mil-accent"
              >Единое окно доступа к процессам Вашей компании</span
            >
          </h3>
          <ul style="padding-left: 20px" class="mil-mb-15">
            <li>
              внутренний и кадровый документооборот (служебные записки, письма,
              приказы, заявления, заявки)
            </li>
            <li>мониторинг исполнения договорных обязательств</li>
            <li>согласование сопроводительных документов на оплату</li>
            <li>единая точка доступа к информационным ресурсам компании</li>
            <li>календарь событий, уведомления, новости</li>
            <li>отчетность, статистика, КПД</li>
            <li>
              возможность интеграции с системами, которые Вы уже используете
            </li>
          </ul>
          <h4 class="mil-mb-5">
            <span class="mil-accent">Эффекты от внедрения</span>
          </h4>
          <ul style="padding-left: 20px" class="mil-mb-15">
            <li>
              ускорение бизнес-процессов за счет их оптимизации и автоматизации
            </li>
            <li>контроль сроков и повышение исполнительской дисциплины</li>
            <li>
              сокращение издержек за счет ведения безбумажного документооборота
            </li>
            <li>обеспечение зрелости внутренних знаний и опыта компании</li>
            <li>повышение качества командной работы и кроссфункциональности</li>
          </ul>
        </div>
        <div
          class="text-container"
          *ngIf="activeText === 'text3'"
          [@fadeInOut]="activeText === 'text3'"
        >
          <h3 class="mil-mb-5">
            <span class="mil-accent">Геоинформационные системы (ГИС)</span>
          </h3>
          <h6 class="mil-mb-5">
            - используются для отображения на карте информации о
            производственных объектах, с учетом дополнительных данных.
            <strong>Это позволяет:</strong>
          </h6>
          <ul style="padding-left: 20px" class="mil-mb-15">
            <li>
              планировать ремонтные и профилактические работы на основе
              картографических данных и показаний оборудования на объектах
            </li>
            <li>
              более эффективно планировать маршруты персонала, отслеживать
              передвижение и вести учет производимых работ в реальном времени
            </li>
            <li>
              обеспечивать безопасность при эксплуатации объектов, благодаря
              автоматизированному сбору и анализу данных о реальном техническом
              состоянии оборудования и показателях окружающей среды
            </li>
            <li>
              проводить удаленные инструктажи и тесты по технике безопасности, а
              также уведомлять специалистов о факторах риска на объектах
            </li>
          </ul>
          <h5 class="mil-mb-5">
            <span class="mil-accent"
              >ГИС в составе системы электронного документооборота</span
            >
          </h5>
          <h6>
            позволяет централизовать управление процессами, контролировать сроки
            исполнения, осуществлять сбор и учет информации о производимых
            работах и отслеживать КПД
          </h6>
        </div>
        <div
          class="text-container"
          *ngIf="activeText === 'text4'"
          [@fadeInOut]="activeText === 'text4'"
        >
          <h3 class="mil-mb-5">
            <span class="mil-accent">Agile</span>
          </h3>
          <h6 class="mil-mb-10">
            - это гибкое управление проектами. Благодаря внедрению культуры
            Agile, активному взаимодействию многофункциональных команд и
            использованию правильных инструментов:
          </h6>
          <ul style="padding-left: 20px" class="mil-mb-15">
            <li>увеличиваются скорость и гибкость разработки</li>
            <li>улучшаются коммуникация и вовлеченность команд</li>
            <li>повышается качество продукта</li>
            <li>сокращается время до выпуска готового продукта на рынок</li>
          </ul>
          <h5 class="mil-mb-5">
            <span class="mil-accent"
              >Мы внедряем инструменты Agile, которые позволяют:</span
            >
          </h5>
          <ul style="padding-left: 20px" class="mil-mb-15">
            <li>управлять проектами, используя Scrum или Kanban подходы</li>
            <li>планировать и управлять спринтами разработки</li>
            <li>
              управлять жизненным циклом продукта, обеспечивать контроль версий,
              непрерывную интеграцию и развертывание (CI/CD)
            </li>
          </ul>
          <h6>
            <strong
              >Учитывая большое количество специалистов, работающих в наши дни
              удаленно, крайне важно использовать правильные инструменты для
              эффективной командной работы</strong
            >
          </h6>
        </div>

        <div
          class="text-container"
          *ngIf="activeText === 'text5'"
          [@fadeInOut]="activeText === 'text5'"
        >
          <h3 class="mil-mb-5">
            <span class="mil-accent">Эффективная удаленная работа</span>
          </h3>
          <h6 class="mil-mb-10">
            Мы помогаем создать оптимальные условия для дистанционной работы
            тысяч сотрудников. Вычислительные ресурсы могут размещаться в центре
            обработки данных или облаке, при этом доступность приложений и
            данных, а также их безопасность будут оставаться на высоком уровне.
          </h6>
          <h4 class="mil-mb-5">
            <span class="mil-accent"
              >Польза виртуальных рабочих мест для бизнеса:</span
            >
          </h4>
          <ul style="padding-left: 20px" class="mil-mb-10">
            <li>высокая доступность данных и вычислительных ресурсов</li>
            <li>сокращение затрат на техническую поддержку</li>
            <li>снижение требований к пользовательским устройствам</li>
            <li>безопасная работа из любой точки мира</li>
          </ul>
          <h5>
            <strong>
              Виртуальные рабочие места представляют особую ценность для команд,
              разрабатывающих продукты с использованием Agile-практик, ведь им
              важна скорость изменений.
            </strong>
          </h5>
        </div>
        <div
          class="text-container"
          *ngIf="activeText === 'text6'"
          [@fadeInOut]="activeText === 'text6'"
        >
          <h3 class="mil-mb-5">
            <span class="mil-accent">
              Внедрение систем видеоконференций и мультимедиа
            </span>
          </h3>
          <h6 class="mil-mb-15">
            Мы обеспечиваем полный спектр мультимедийного оборудования для
            организации видеоконференций и управления презентациями, а также
            внедряем системы для управления бронированием залов, световым
            оборудованием и шторами, акустическими системами.
          </h6>
          <div
            class="logos mil-mb-15"
            style="
              display: flex;
              justify-content: space-around;
              align-items: center;
            "
          >
            <div class="column-element">
              <img
                src="./assets/icons/co-working.png"
                alt=""
                style="margin-right: 0"
              />
              <h6 class="row" style="width: 110px; text-align: center">
                Agile-офисы и коворкинги
              </h6>
            </div>
            <div class="column-element">
              <img
                src="./assets/icons/business-people.png"
                alt=""
                style="margin-right: 0"
              />
              <h6 class="row" style="width: 110px; text-align: center">
                Переговорные комнаты
              </h6>
            </div>
            <div class="column-element">
              <img
                src="./assets/icons/work-space.png"
                alt=""
                style="margin-right: 0"
              />
              <h6 class="row" style="width: 110px; text-align: center">
                Ситуационные центры
              </h6>
            </div>
          </div>
          <h6 class="mil-mb-10">
            <strong>
              ведь Agile, в первую очередь - командная работа, и средства
              коммуникации специалистов зачастую не менее важны, чем инструменты
              для ведения проектов и разработки продуктов.
            </strong>
          </h6>
        </div>
        <div
          class="text-container"
          *ngIf="activeText === 'text7'"
          [@fadeInOut]="activeText === 'text7'"
        >
          <h3 class="mil-mb-5">
            <span class="mil-accent"
              >Внедрение решений для комплексного управления процессами
              печати</span
            >
          </h3>
          <h6 class="mil-mb-10">
            Безусловно, мы понимаем, что даже полностью цифровизированные
            процессы зачастую сопровождаются отчетностью, графиками, чертежами и
            результатами аналитики, представленными в бумажном виде.
          </h6>
          <h6 class="mil-mb-15">
            Для этих целей мы предлагаем широкий ассортимент современного и
            надежного печатного оборудования:
          </h6>
          <ul style="padding-left: 20px" class="mil-mb-15">
            <li>офисные принтеры и МФУ</li>
            <li>документные сканеры</li>
            <li>оборудование для широкоформатной печати</li>
          </ul>
          <h5>
            <strong>
              Специалисты нашей компании выполнят поставку необходимого Вам
              оборудования, обеспечат его внедрение в производственный процесс,
              а также произведут настройку с учетом распределения прав доступа.
            </strong>
          </h5>
        </div>
      </div>
    </div>
  </div>
</section>
