<section class="mil-p-120-60">
  <div class="mil-deco" style="top: 0; right: 15%"></div>
  <div class="container">
    <h2 class="row" style="width: 1000px">
      Обеспечение комплексной безопасности
    </h2>
    <div class="mil-divider-sol mil-mb-100"></div>

    <div class="row justify-content-between align-items-center">
      <div class="col-lg-6">
        <div
          class="text-container"
          *ngIf="activeText === 'text1'"
          [@fadeInOut]="activeText === 'text1'"
        >
          <h4 class="mil-mb-15">
            Мы предлогаем комплексные системы безопасности, включающие контроль
            доступа, видеонаблюдение, охранно-пожарную сигнализацию и
            smart-датчики, которые работают централизованно с единым пультом
            управления.
          </h4>
          <h4 class="mil-mb-30">
            Интеграция различных охранных систем в единый комплекс позволяет
            значительно повысить уровень безопасности и оперативность
            реагирования.
          </h4>
          <div
            class="logos"
            style="display: flex; justify-content: center; align-items: center"
          >
            <img
              src="./assets/logos/Bosch-logo.png"
              alt=""
              style="width: 150px; height: auto"
            />
            <img
              src="./assets/logos/Hikvision_logo.png"
              alt=""
              style="width: 150px; height: auto"
            />
            <img
              src="./assets/logos/Dahua_Technology_logo.png"
              alt=""
              style="width: 150px; height: auto"
            />
          </div>
        </div>
        <div
          class="text-container"
          *ngIf="activeText === 'text2'"
          [@fadeInOut]="activeText === 'text2'"
        >
          <h3 class="mil-mb-10">
            <span class="mil-accent"
              >Преимущества систем видеонаблюдения (CCTV)</span
            >
          </h3>
          <ul style="padding-left: 20px" class="mil-mb-15">
            <li>круглосуточный автоматизированный видеомониторинг объектов</li>
            <li>повышение оперативности реагирования и минимизация ущерба</li>
            <li>
              визуальный контроль участков повышенного риска в реальном времени,
              например элементов технологического оборудования
            </li>
          </ul>
          <h5 class="mil-mb-20">
            <span class="mil-accent"> В комплексной системе безопасности </span>
            эффективность систем видеонаблюдения возрастет благодаря:
          </h5>
          <ul style="padding-left: 20px" class="mil-mb-15">
            <li>
              автоматизации контроля доступа при распознавании лиц и номерных
              знаков транспорта
            </li>
            <li>
              автоматизации событий в случае нарушения безопасности
              (задействование правил защиты, сигнализация оперативным службам,
              включение пожарной автоматики и многих других)
            </li>
          </ul>
          <h5>
            <strong
              >Наши специалисты спроектируют систему видеонаблюдения, а также
              предложат комплексную систему безопасности с учетом особенностей
              Вашего объекта. Мы произведем поставку, монтаж и настройку
              необходимого видеооборудования и систем хранения
              видеозаписей.</strong
            >
          </h5>
        </div>
        <div
          class="text-container"
          *ngIf="activeText === 'text3'"
          [@fadeInOut]="activeText === 'text3'"
        >
          <h3>
            <span class="mil-accent"
              >Системы контроля и управления доступом (СКУД)</span
            >
          </h3>
          <h5 class="mil-mb-10">обеспечивают следующие возможности:</h5>
          <ul style="padding-left: 20px" class="mil-mb-15">
            <li>распределение прав доступа к охраняемым объектам</li>
            <li>
              регистрацию входов/выходов в рамках контроля трудовой дисциплины
            </li>
            <li>управление работой ворот, турникетов, дверей, шлагбаумов</li>
          </ul>
          <h5 class="mil-mb-10">
            <span class="mil-accent"> В комплексной системе безопасности </span>
            возможности СКУД расширяются:
          </h5>
          <ul style="padding-left: 20px" class="mil-mb-15">
            <li>
              автоматизация допуска на объект за счет интеграции с системой
              видеораспознавания лиц и номерных знаков транспорта
            </li>
            <li>
              а фиксация действий пользователей и администраторов при работе на
              защищенных объектах, в центрах обработки данных, с компьютерными
              системами и пр.
            </li>
            <li>
              возможность контроля элементов безопасности с единого пульта
            </li>
          </ul>
          <h5>
            <strong
              >Оставьте заявку и мы спроектируем техническое решение для
              внедрения СКУД и комплексной системы безопасности для Вашей
              компании.</strong
            >
          </h5>
        </div>
        <div
          class="text-container"
          *ngIf="activeText === 'text4'"
          [@fadeInOut]="activeText === 'text4'"
        >
          <h3 class="mil-mb-5">
            <span class="mil-accent"
              >Системы охранно-пожарной сигнализации и Smart-датчики</span
            >
          </h3>
          <h5 class="mil-mb-10">
            устройства раннего реагирования и мониторинга, а именно:
          </h5>
          <ul style="padding-left: 20px" class="mil-mb-20">
            <li>датчики дыма и тепла</li>
            <li>пожарные извещатели и устройства оповещения о ЧС</li>
            <li>датчики проникновения и модули охранной сигнализации</li>
            <li>контрольные панели</li>
          </ul>

          <h5 class="mil-mb-10">
            <span class="mil-accent">
              В комплексных системах безопасности
            </span>
            также используются:
          </h5>

          <ul style="padding-left: 20px" class="mil-mb-20">
            <li>
              датчики контроля условий окружающей среды (влажность, температура)
            </li>
            <li>
              устройства мониторинга критически важных параметров оборудования и
              коммуникаций (напряжение, вибрация и пр)
            </li>
            <li>
              программные средства, отвечающие за активацию событий на основании
              показаний датчиков
            </li>
          </ul>

          <h5>
            <strong
              >Мы разработаем для Вас индивидуальное решение для обеспечения
              безопасности всех производственных узлов предприятия.</strong
            >
          </h5>
        </div>

        <div
          class="text-container"
          *ngIf="activeText === 'text5'"
          [@fadeInOut]="activeText === 'text5'"
        >
          <h3 class="mil-mb-5">
            <span class="mil-accent"
              >Цели обеспечения информационной безопасности -
            </span>
          </h3>
          <h5 class="mil-mb-10">
            защита данных, средств связи и инфраструктуры от случайного или
            преднамеренного вмешательства, что может стать причиной утраты
            данных или их несанкционированного изменения. Н
          </h5>
          <h5 class="mil-mb-10">
            <span class="mil-accent">
              Информационная безопасность помогает обеспечить непрерывность
              бизнеса!
            </span>
          </h5>
          <h5 class="mil-mb-10">
            Мы внедряем и настраиваем наиболее востребованные средства защиты,
            такие как:
          </h5>

          <ul style="padding-left: 20px" class="mil-mb-10">
            <li>средства антивирусной защиты</li>
            <li>
              системы защиты от утечки данных - DLP (Data Leak Prevention)
              решения
            </li>
            <li>криптографические системы</li>
            <li>межсетевые экраны (брандмауэры и файерволы)</li>
            <li>
              системы мониторинга и управления информационной безопасностью -
              SEIM (Security information and event management)
            </li>
          </ul>

          <h5>
            <strong
              >Наши эксперты готовы предоставить Вам необходимые услуги по
              обеспечению информационной безопасности, в том числе, провести
              аудит систем и разработать план мероприятий по обеспечению
              комплексной защиты.</strong
            >
          </h5>
        </div>
      </div>
      <div class="col-lg-5">
        <ul class="mil-tabs-right-nav mil-mb-60">
          <li class="pointer">
            <a
              (click)="showText('text1')"
              [ngClass]="{ 'mil-active': activeText === 'text1' }"
              class="mil-h4 mil-active"
              >Обеспечение комплексной безопасности</a
            >
          </li>
          <li class="pointer">
            <a
              (click)="showText('text2')"
              [ngClass]="{ 'mil-active': activeText === 'text2' }"
              class="mil-h4"
              >Организация систем видеонаблюдения</a
            >
          </li>
          <li class="pointer">
            <a
              (click)="showText('text3')"
              [ngClass]="{ 'mil-active': activeText === 'text3' }"
              class="mil-h4"
              >Внедрение систем контроля и управления доступом</a
            >
          </li>
          <li class="pointer">
            <a
              (click)="showText('text4')"
              [ngClass]="{ 'mil-active': activeText === 'text4' }"
              class="mil-h4"
              >Системы охранно-пожарной сигнализации <br />и Smart-датчики</a
            >
          </li>
          <li class="pointer">
            <a
              (click)="showText('text5')"
              [ngClass]="{ 'mil-active': activeText === 'text5' }"
              class="mil-h4"
              >Информационная безопасность</a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
