.main-container {
    position: absolute;
    display: flex;
    width: 50%;
    right: 0;
    flex: 0 0 auto;
}

.logos img {
    margin-right: 30px;
    margin-top: 10px;
}

.logos img:last-child {
    margin-right: 0;
}

.pointer {
    cursor: pointer;
}

.wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    transition: opacity 1s ease-in-out;
    box-sizing: content-box;
}

.text-container {
    flex-shrink: 0;
    width: 100%;
    height: 100%;
    position: relative;
    opacity: 0;
    animation: fadeInOut 0.5s ease forwards;
}

@keyframes fadeInOut {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@media screen and (max-width: 991px) {
    .text-container {
        flex-shrink: 0;
        width: 100%;
        height: 100%;
        position: relative;
        opacity: 0;
        animation: fadeInOut 0.5s ease forwards;
        margin-top: 40px;
        margin-bottom: 40px;
    }
}

@media screen and (max-width: 450px) {
    .logos {
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    .logos img {
        margin-right: 0px;
    }

    .title-infr{
        word-wrap: break-word;
    }
}