<section class="mil-p-120-60" id="spheres">
  <div class="mil-deco" style="top: 0; right: 15%"></div>
  <div class="container">
    <h1 class="mil-mb-50" style="text-align: center">
      Наши <span class="mil-accent"> сферы деятельности </span>
    </h1>
    <h2 class="mil-mb-90 row" style="width: 1000px">
      Решения для IT-инфраструктуры, коммуникаций и обработки данных
    </h2>

    <div class="row justify-content-between align-items-center">
      <div class="col-lg-5">
        <ul class="mil-tabs-left-nav mil-mb-60">
          <li class="pointer">
            <a
              (click)="showText('text1')"
              [ngClass]="{ 'mil-active': activeText === 'text1' }"
              class="mil-h4 mil-active"
              >Решения для IT-инфраструктуры</a
            >
          </li>
          <li class="pointer">
            <a
              (click)="showText('text2')"
              [ngClass]="{ 'mil-active': activeText === 'text2' }"
              class="mil-h4"
              >Построение центров обработки данных</a
            >
          </li>
          <li class="pointer">
            <a
              (click)="showText('text3')"
              [ngClass]="{ 'mil-active': activeText === 'text3' }"
              class="mil-h4"
              >Проектирование и внедрение систем хранения данных</a
            >
          </li>
          <li class="pointer">
            <a
              (click)="showText('text4')"
              [ngClass]="{ 'mil-active': activeText === 'text4' }"
              class="mil-h4"
              >Построение сетей передачи данных и структурированных кабельных
              систем</a
            >
          </li>
          <li class="pointer">
            <a
              (click)="showText('text5')"
              [ngClass]="{ 'mil-active': activeText === 'text5' }"
              class="mil-h4"
              >Организация иммерсионного охлаждения для вычислительных
              комплексов</a
            >
          </li>
          <li class="pointer">
            <a
              (click)="showText('text6')"
              [ngClass]="{ 'mil-active': activeText === 'text6' }"
              class="mil-h4"
              >Предоставление систем бесперебойного гарантированного
              электропитания</a
            >
          </li>
        </ul>
      </div>
      <div class="col-lg-6">
        <div
          class="text-container"
          *ngIf="activeText === 'text1'"
          [@fadeInOut]="activeText === 'text1'"
        >
          <h3>
            Предоставляем универсальные решения для IT-инфраструктуры,
            позволяющие организовать и поддерживать эффективную работу вашего
            бизнеса
          </h3>
        </div>
        <div
          class="text-container"
          *ngIf="activeText === 'text2'"
          [@fadeInOut]="activeText === 'text2'"
        >
          <h3 class="mil-mb-5">
            <span class="mil-accent">Центр обработки данных</span>
          </h3>
          <h6 class="mil-mb-20">
            - технологический организм, решающий задачи бизнеса. Его
            эффективность выражается в производительности, готовности к
            изменениям и стабильности.
          </h6>
          <h4 class="mil-mb-10">Чтобы добиться этого, мы обеспечиваем:</h4>
          <ul style="padding-left: 20px" class="mil-mb-15">
            <li>расчет мощности, необходимой для решения задач бизнеса</li>
            <li>проектирование и подбор основных и вспомогательных систем</li>
            <li>поставку вычислительного и коммуникационного оборудования</li>
            <li>организацию систем обработки и хранения данных</li>
            <li>монтаж систем электропитания и охлаждения</li>
            <li>внедрение комплексных систем безопасности</li>
          </ul>
          <h5>
            а также настройку, поддержку и актуализацию используемых решений
          </h5>
        </div>
        <div
          class="text-container"
          *ngIf="activeText === 'text3'"
          [@fadeInOut]="activeText === 'text3'"
        >
          <h3 class="mil-mb-5">
            <span class="mil-accent">Системы хранения данных</span>
          </h3>
          <h6>- одни из ключевых компонентов IT-инфраструктуры.</h6>
          <h6 class="mil-mb-10">
            Данные - цифровая нефть 21 века. На основе данных бизнес принимает
            решения, а мы поставляем инструменты, делающие это возможным.
          </h6>
          <ul style="padding-left: 20px" class="mil-mb-15">
            <li>
              проанализируем тип и характер данных, и подберем необходимую
              конфигурацию оборудования
            </li>
            <li>
              внедрим и настроим средства защиты массивов данных на аппаратном и
              программном уровнях
            </li>
            <li>организуем логику резервирования и отказоустойчивости</li>
          </ul>
          <h5 class="mil-mb-50">
            а также настройку, поддержку и актуализацию используемых решений
          </h5>
          <div
            class="logos"
            style="display: flex; justify-content: center; align-items: center"
          >
            <img
              src="./assets/logos/Quantum-Logo-Vector.png"
              alt=""
              style="width: 150px; height: auto"
            />
            <img
              src="./assets/logos/HP_New_Logo_2D.png"
              alt=""
              style="width: 70px; height: auto"
            />
            <img
              src="./assets/logos/Dell_Logo.png"
              alt=""
              style="width: 70px; height: auto"
            />
            <img
              src="./assets/logos/Huawei_logo_icon_170010.png"
              alt=""
              style="width: 150px; height: auto"
            />
          </div>
        </div>
        <div
          class="text-container"
          *ngIf="activeText === 'text4'"
          [@fadeInOut]="activeText === 'text4'"
        >
          <h3 class="mil-mb-5">
            <span class="mil-accent"
              >Сетевые решения и системы управления ИТ-инфраструктурой</span
            >
          </h3>
          <h6 class="mil-mb-10">
            - совокупность оборудования и программного обеспечения для
            эффективного обмена данными предприятия, работы приложений и
            различных сервисов.
          </h6>
          <h6 class="mil-mb-10">
            Только правильный выбор оборудования и его профессиональная
            настройка позволяют добиться требуемой скорости и надежности
            передачи данных,
            <strong>поэтому мы предлагаем:</strong>
          </h6>
          <ul style="padding-left: 20px" class="mil-mb-50">
            <li>
              анализ потребностей предприятия и создание модели коммутации и
              маршрутизации
            </li>
            <li>
              подбор и поставку оборудования в соответствии с коммутационной
              моделью и требованиями к пропускной способности
            </li>
            <li>настройку сетевого оборудования и коммуникационных платформ</li>
            <li>обеспечение безопасности передачи данных</li>
          </ul>
          <div class="logos">
            <img
              src="./assets/logos/800px-Cisco_logo_blue_2016.png"
              alt=""
              style="width: 130px; height: auto"
            />
            <img
              src="./assets/logos/Juniper_Networks_logo.png"
              alt=""
              style="width: 130px; height: auto"
            />
            <img
              src="./assets/logos/Huawei_logo_icon_170010.png"
              alt=""
              style="width: 130px; height: auto"
            />
            <img
              src="./assets/logos/Dell_Logo.png"
              alt=""
              style="width: 70px; height: auto"
            />
          </div>
        </div>

        <div
          class="text-container"
          *ngIf="activeText === 'text5'"
          [@fadeInOut]="activeText === 'text5'"
        >
          <h3 class="mil-mb-5">
            <span class="mil-accent">Системы иммерсионного охлаждения</span>
          </h3>
          <h6 class="mil-mb-10">
            - не инновация, а высокоэффективное решение для центров обработки
            данных и вычислительных комплексов, работающих под высокой нагрузкой
            со сложными задачами.
          </h6>
          <h6 class="mil-mb-10">
            В основе принципа иммерсионного охлаждения - погружение любой
            вычислительной и коммутационной техники в специальную жидкость,
            абсолютно безопасную для человека и техники.
          </h6>
          <h4 class="mil-mb-5">
            <span class="mil-accent">Преимущества в цифрах: </span>
          </h4>
          <ul style="padding-left: 20px" class="mil-mb-10">
            <li>повышение эффективности охлаждения в 3 и более раз;</li>
            <li>до 50% экономия при строительстве нового ЦОД;</li>
            <li>
              возможность дооснащения уже загруженных ЦОД дополнительным
              оборудованием за счет уплотнения компоновки устройств в 2 и более
              раз
            </li>
            <li>до 80% снижение отказов оборудования</li>
            <li>
              100% ОТСУТСТВИЕ шума, пыли, точек перегрева, пробоев электричества
            </li>
          </ul>
          <h5>
            Наши эксперты готовы провести для Вас презентацию, ответить на
            вопросы и произвести расчеты с учетом Ваших потребностей и специфики
            бизнеса
          </h5>
        </div>
        <div
          class="text-container"
          *ngIf="activeText === 'text6'"
          [@fadeInOut]="activeText === 'text6'"
        >
          <h3 class="mil-mb-5">
            <span class="mil-accent">
              Системы бесперебойного гарантированного электропитания
            </span>
          </h3>
          <h6 class="mil-mb-10">
            - важнейший ресурс, от которого зависит готовность Ваших систем.
            Обеспечение бесперебойной работы электроснабжения - ключевое условие
            для функционирования оборудования без простоев.
          </h6>
          <h6 class="mil-mb-10">
            В текущих реалиях отсутствие простоев приобретает особую важность,
            так как это залог удовлетворенности клиента и целостности его
            данных. Организация систем видеонаблюдения
          </h6>
          <h4 class="mil-mb-5">
            <span class="mil-accent">Наш экспертный опыт позволяет:</span>
          </h4>
          <ul style="padding-left: 20px" class="mil-mb-10">
            <li>
              проектировать и осуществлять монтаж систем бесперебойного и
              гарантированного электропитания, а также пусковой автоматики
            </li>
            <li>до 50% экономия при строительстве нового ЦОД;</li>
            <li>
              настраивать инструменты самодиагностики и оперативного оповещения
            </li>
            <li>
              качественно реализовывать схемы электропитания, учитывающие
              резервирование ИБП и наличие дизель-генераторных установок
            </li>
            <li>внедрять системы удаленного администрирования и мониторинга</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
