@import 'ngx-toastr/toastr';
/* You can add global styles to this file, and also import other style files */
.owl-carousel .owl-stage {
    position: relative;
    -ms-touch-action: pan-Y;
    touch-action: manipulation;
    -moz-backface-visibility: hidden;
    display: flex !important;
    align-items: center !important;
}
