<div class="mil-wrapper">
  <!-- top bar -->
  <app-nav-bar></app-nav-bar>
  <!-- top bar end -->

  <!-- banner -->
  <div class="mil-banner mil-top-space-0">
    <img
      src="./assets/img/bg1.jpg"
      class="mil-background-image"
      style="object-position: center"
      data-swiper-parallax="-100"
      data-swiper-parallax-scale="1.1"
      alt="image"
    />

    <!-- <div class="mil-overlay"></div> -->

    <div class="mil-banner-content">
      <div class="container">
        <div class="row align-items-center">
          <h1 class="mil-mb-60">
            <!-- <span class="mil-uppercase mil-light" style="color: black"
              >Помогаем достигать вершин</span
            > -->
            <span class="mil-uppercase mil-light" style="color: black">{{
              "BANNER_TEXT" | translate
            }}</span>
          </h1>
        </div>
      </div>
    </div>
  </div>
  <!-- banner end -->

  <section class="mil-p-120-60">
    <div class="mil-deco" style="top: 0; left: 25%"></div>
    <div class="container">
      <app-about-company></app-about-company>
    </div>
  </section>

  <!-- partners -->
  <app-partners></app-partners>
  <!-- partners end -->

  <div class="container">
    <div class="mil-divider"></div>
  </div>

  <!-- services -->
  <app-infrastruct></app-infrastruct>
  <!-- services end -->

  <div class="container">
    <div class="mil-divider"></div>
  </div>

  <app-solutions></app-solutions>

  <div class="container">
    <div class="mil-divider"></div>
  </div>

  <app-business></app-business>

  <div class="container">
    <div class="mil-divider"></div>
  </div>

  <app-tech-support></app-tech-support>

  <div class="container">
    <div class="mil-divider"></div>
  </div>

  <app-projects></app-projects>

  <app-footer></app-footer>

  <div class="mil-footer-bottom">
    <div class="container">
      <p class="mil-text-sm mil-light">© ITSulu 2023.</p>
      <p class="mil-text-sm mil-light">All Rights Reserved.</p>
    </div>
  </div>
</div>
